/*------------------------------------- navbar */

.navbar {
    background-color: black;
}

.navbar a {
    color: white !important;
}

.navbar-dark a:hover, .navbar a:active, .navbar a:focus {
    text-decoration: none !important;
    color: violet !important;
}



/*------------------------------------- footer */



/*------------------------------------- index main content */



/*------------------------------------- navbar */



/*------------------------------------- navbar */